@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  font-family: "Roboto", sans-serif;
}

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 2px 0px 5px #000000;
  /* Animação de fazer aparecer a sidenav */
  animation: movesidenav 1.5s;
  /* Efeito céu estrelado */
  background-color: #0077ff;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 1px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 1px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.sidenav a {
  padding: 5px 5px 5px 15px;
  text-decoration: none;
  font-size: 23px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #000000;
  background-color: #ffffffa6;
}

.sidenav button {
  margin: 18px;
  padding: 5px 5px 5px 5px;
  font-size: 23px;
  background-color: #ffffffa6;
  border: None;
}

.sidenav button:hover {
  color: #ffffff;
  background-color: #0037ac8f
}

.sidenav i {
  margin-right: 5px;
}

/* .Menu {
  margin-left: 220px;
} */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@keyframes movesidenav {
  from {left: -220px;}
  to {left: 0px;}
}